# Database connection URL 
DB_URL=mongodb://localhost:27017/dragonsworddev

# Database user account
DB_USER=databaseAccountUsername

# Database user password
DB_PASS=databaseAccountPassword

# Discord bot token
TOKEN=discordBotToken

# Discord message prefix used to call this bot's commands
BOT_PREFIX=","

# Bot name
BOT_NAME="Dragon Sword"

# Discord channel IDs this bot runs in
GAME_CHANNELS=550454349608779777;494574903173971971

# Discord user IDs assigned to game admin status
GAME_MASTERS=278301453620084736
